
body {
    font-family: Arial, sans-serif;
    transition: background 0.3s, color 0.3s;
}


.dark-mode {
    background-color: #1e1e1e !important;
    color: white !important;
}

.dark-mode .card {
    background-color: #333;
    color: #fff;
}

.dark-mode .btn-dark {
    background-color: #fff;
    color: #333;
    border: 1px solid #fff;
}

.dark-mode .btn-dark:hover {
    background-color: #ffc107;
    color: #000;
}


button, .btn {
    transition: all 0.3s ease-in-out;
}


.btn-primary:hover {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
    transform: scale(1.05);
}

.btn-outline-success:hover {
    background-color: #198754;
    color: #fff;
    box-shadow: 0 0 10px rgba(25, 135, 84, 0.7);
    transform: scale(1.1);
}


.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.7);
    transform: scale(1.05);
}


#copyBtn {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.dark-mode .progress {
    background-color: #555;
}

.dark-mode .progress-bar {
    background-color: #ffc107;
}
